<form [formGroup]="signinForm" (ngSubmit)="onSubmit()"> <!-- TODO -->

  <h3>Sign In</h3>

  <label for="username">Username :</label>
  <input id="username" type="text" formControlName="username" required>
  
	<div class="error" *ngIf="username.invalid && (username.dirty || username.touched)">
		<div *ngIf="username.errors.required">
			Username is a required field.
		</div>
	</div>

  <label for="password">Password :</label>
  <input id="password" type="password" formControlName="password" required>

  <div class="error" *ngIf="password.invalid && (password.dirty || password.touched)">
		<div *ngIf="password.errors.required">
			Password is a required field.
		</div>
	</div>

  <div>
    <button class="raised" (click)="onClickSignIn()" type="submit" [disabled]="!signupForm.valid">Sign In</button>
	  <button class="ghost" (click)="goBack()">Cancel</button>
  </div>

<p>Don't have an account? <a class="raised" routerLink="/signup">Sign Up here</a></p>

</form>

