<form [formGroup]="userForm" (ngSubmit)="onSubmit()" >

  <h3>General</h3>

  <label for="name"><span style="color:red">* </span>Name:</label>
  <input id="name" type="text" formControlName="name" required>
 
  <div class="error" *ngIf="name.invalid && (name.dirty || name.touched)">
    <div *ngIf="name.errors.required">
      Name is a required field.
    </div>
  </div>

  <label for="email"><span style="color:red">* </span>Email:</label>
  <input id="email" type="text" formControlName="email">
  
  <div class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
    <div *ngIf="email.errors.required">
      Email is a required field.
    </div>
  </div>


  <div formGroupName="address">

    <h3>Address</h3>

    <label for="street">Street:</label>
    <input id="street" type="text" formControlName="street">

    <div class="error" *ngIf="street.invalid && (street.dirty || street.touched)">
      Street is invalid.
    </div>


    <label for="city">City:</label>
    <input id="city" type="text" formControlName="city">

    <div class="error" *ngIf="city.invalid && (city.dirty || city.touched)">
      City is invalid.
    </div>


    <label for="state">State:</label>
    <input id="state" type="text" formControlName="state">
    <div class="error" *ngIf="state.invalid && (state.dirty || state.touched)">
      State is invalid.
    </div>


    <label for="zip">Zip Code:</label>
    <input id="zip" type="text" formControlName="zip">

    <div class="error" *ngIf="zip.invalid && (zip.dirty || zip.touched)">
      Zip is invalid.
    </div>

  </div>

  <div formArrayName="aliases">

    <h3>Aliases</h3> 

    <div *ngFor="let alias of aliases.controls; let i=index">
      
      <div class="alias">

        <label class="alias">
          <p>Alias:</p>
          <input class="alias" type="text" [formControlName]="i">
        </label>

        <span class="alias" *ngIf="i>0">
          <button class="delete" (click)="deleteAlias(i)">Delete</button>
        </span>
      
      </div>
      
    </div>
  </div>

  <button class="alias" (click)="addAlias()">Add Alias</button>
  <button class="alias" (click)="goBack()">Cancel</button>
 
  <hr>

  <button (click)="onClickSubmit()" type="submit" [disabled]="!userForm.valid">Submit</button>

  <p>Form Value: {{ userForm.value | json }}</p>
  <p>Form Status: {{ userForm.status }}</p>

</form>

