:host {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

label {
  display: block;
  width: 6em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 25px;
  font-size: 1em;
  padding-left: .4em;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

button.delete {
  position: relative;
  left: 99.2px;
  top: -0.5px;
  border-radius: 0px 4px 4px 0px;
  height: 31px;
  background-color: gray !important;
  color: white;
}

.alias {
  display: inline-block;
  padding: 5px;
}
