/* HeroDetailComponent's private CSS styles */
label {
  display: block;
  width: 10em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.container{
  border-width: 2px;
  border-style: solid;
  margin: 8px 0px;
  border-radius: 10px;
  padding: 0 16px 16px 16px ;
  background-color: #fcfcfc;
}

.alias {
  display: inline-block
}

button.delete {
  position: relative;
  left: 40px;
  top: -0.5px;
  border-radius: 0px 4px 4px 0px;
  height: 38px;
  background-color: gray !important;
  color: white;
}

button.end {
  font-size: 20px;
  padding: 10px 16px;
  border-style: solid;
  border-width: 1px;
}