/* Add application styles & imports to this file! */
body {
  margin: 0px;
}

div.extramargin{
  margin: 0 20%;
}

@media only screen and (max-width: 1000px) {
  div.extramargin {
    margin: 8px;
  }
}

hr {
  border: 1px solid black;
  background: black;
}

/* ========== All Button Styles ========== */
button {
  font-family: Arial;
  font-size: 16px;
  margin: 0 4px;
  border: 2px solid #147ACC; 
  border-radius: 4px;
  padding: 8px 14px;
  cursor: pointer;
  cursor: hand;
  outline: none;
}

button.ghost {
  background: white;
  color: #147ACC;
}
button.ghost:hover {
  background-color: #0F5B99;
  border-color: #0F5B99;
  color: white;
}

button.ghost:active {
  background-color: #082E4D;
  border-color: #082E4D;
  color: white;
  transform: translateY(2px);
}

button.raised {
  background: #147ACC;
  color: white; 
}
button.raised:hover {
  background-color: #0F5B99;
  border-color: #0F5B99;
}
button.raised:active {
  background-color: #082E4D;
  border-color: #082E4D;
  transform: translateY(2px);
}
button.raised:disabled {
  background: #4680B0;
  border-color: #4680B0;
  color: lightgrey; 
  cursor: default;
}

button.delete {
  color: #FF4136;
  background-color: white;
  border-color: #FF4136;
}
button.delete:hover {
  color: white;
  background-color: #FF4136;
  border-color: #FF4136;
}
button.delete:active {
  color: white;
  background-color: #B31C14;
  border-color: #B31C14;
  transform: translateY(2px);
}