/* Add application styles & imports to this file! */
body {
  margin: 0px;
}

div.extramargin{
  margin: 0 20%;
}

@media only screen and (max-width: 1000px) {
  div.extramargin {
    margin: 8px;
  }
}
